.webix_reportdesignpanel {
    top: 0;
    height: 100%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
    overflow: visible;
}

.webix_reportitem {
    position: absolute;
}

.webix_reportitem.webix_selected::before {
    position: absolute;
    border: 1px dotted black;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    content: "";
}

.fa-preview::before {
    content: "\f002";
    position: absolute;
    font-size: small;
    left: 40%;
    top: 30%;
}

.fa-preview::after {
    content: "\f02f";
}


/* .webix_reportitem.selected::before,
.webix_reportitem.selected::after {
    border: 1px solid black;
    height: 2px;
    width: 2px;
    content: "";
    display: block;
    position: absolute;
}

.webix_reportitem.selected::before {
    margin-left: -5px;
    margin-top: -5px;
}

.webix_reportitem.selected::after {
    bottom: 0;
    right: 0;
    margin-right: -5px;
    margin-bottom: -5px;
} */